langgraph
langchain
langchain-community
openai
newspaper3k
lxml[html_clean]
langchain-google-genai
rank-bm25
langchain_openai
pdfplumber 
markdownify
langchain-huggingface 
faiss-cpu 
sentence-transformers
langgraph-supervisor
chainlit
langgraph-cli[inmem]
PyMuPDF==1.23.14
Pillow==10.1.0
mistralai


# for .md to .pdf conversion
markdown 
beautifulsoup4 
reportlab
